:root{
    --theme-color: white;
    --primary-color: #132142;
    --secundary-color: #c50a1f;
    --text-color-inverse:white;
    --text-color:black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color:#3a4460;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:var(--theme-color);
    color: var(--primary-color);
    padding-top: 90px;
	
}
a {
    text-decoration: none;
    color: var(--secundary-color);
}
.horizontal__padding{
padding-left: 25px;
padding-right: 25px;
}
.vertical__padding{
    padding-top: 25px;
    padding-bottom: 25px;
}

@media(min-width:950px){
    .horizontal__padding{
        padding-left: 70px;
        padding-right: 70px;
        }
        .vertical__padding{
            padding-top: 70px;
            padding-bottom: 70px;
        }
}