.titulo__np{
    color: var(--secundary-color);
    text-align: center;
    font-size: 30px;
}
.np{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-align: justify;
}
.fotonuestroproyecto{
    
    text-align: center;
}
.fotonp{
    margin-top: 20px;
    width: 60%;
    cursor: pointer;
    transition: 2s;
}
.fotonp:hover{
    transform: scale(1.1);
    transition: 2s;
}
@media (max-width: 600px){
    .fotonp{
        margin-top: 20px;
        width: 90%;
}
.fotonp:hover{
    transform: scale(1.5);
    transition: 2s;
}
}