.nuestracampana{
    color: var(--secundary-color);
    font-size: 23px;
    text-align: center;
    margin-bottom: 50px;
}
.videos__interes{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.videos__interes img{
    width: 100%;
    border-style: none;
    box-shadow: 10px;
}





